In [3]:
'''
Project : House price prediction
Problem Statement : Predict the price of house using multiple linear regression. In 
this dataset you need to use label binarizer and one hot encoding to convert nonnumerical features into numerical feature. Train the model and make the final 
predictions by taking new input from a user.

'''
None

In [34]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [6]:
# 1) Data Collection
data=pd.read_csv('https://raw.githubusercontent.com/aman9801/multiple-linear-regression-on-housing-dataset/main/mlr_housing.csv')
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [8]:
# 2) EDA
data.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [16]:
# 3) Model Preparation
label_encoder = LabelEncoder()
data['mainroad'] = label_encoder.fit_transform(data['mainroad'])
data['guestroom'] = label_encoder.fit_transform(data['guestroom'])
data['basement'] = label_encoder.fit_transform(data['basement'])
data['hotwaterheating'] = label_encoder.fit_transform(data['hotwaterheating'])
data['airconditioning'] = label_encoder.fit_transform(data['airconditioning'])
data['prefarea'] = label_encoder.fit_transform(data['prefarea'])
data['furnishingstatus'] = label_encoder.fit_transform(data['furnishingstatus'])
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,0
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,1
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,0
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,1,0,1,0,0,2,0,2
541,1767150,2400,3,1,1,0,0,0,0,0,0,0,1
542,1750000,3620,2,1,1,1,0,0,0,0,0,0,2
543,1750000,2910,3,1,1,0,0,0,0,0,0,0,0
544,1750000,3850,3,1,2,1,0,0,0,0,0,0,2

In [24]:
x = data.drop('price',axis=1)
y = data.price.values

In [27]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [29]:
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [33]:
# 4) Model Evaluation
predicted_prices = model.predict(x_test)
predicted_prices

array([3733555.16411202, 6328474.46761185, 4415953.4746249 ,
       8020891.50290613, 6567580.52699231, 4483855.16345339,
       2478295.2100355 , 5782778.58574167, 7796621.49994867,
       2728015.09200251, 5214879.07280605, 3555421.44652512,
       5204519.80517799, 3426613.59061939, 7864552.99320685,
       4681215.63077737, 4146587.80075017, 3630180.05811074,
       3406225.62853081, 3990420.25643304, 5758192.18870034,
       4929866.020842  , 3337725.76563027, 4462098.28285125,
       3366923.49543838, 4451070.56506562, 5860776.77684361,
       4565620.44477377, 3139903.31317269, 2984087.56771686,
       5173741.68056582, 2107570.48870474, 4433276.3896246 ,
       2499005.18399774, 5178480.27000051, 2857658.91348872,
       8374249.30298448, 5739879.55077876, 2796022.08622015,
       4775181.12103745, 6112366.06671593, 5273867.19113191,
       6501263.03653264, 3888233.36466791, 5664650.10850509,
       3277313.9280102 , 5767677.85889223, 3158065.38252722,
       6859443.52406958, 6697801.37383149, 4595851.09081861,
       4701574.26564198, 6221118.82619551, 2888683.81134521,
       2703360.36109508, 5862485.79886127, 4886121.03728218,
       4804158.85378525, 6783566.58516813, 3817085.51796983,
       2805843.21936656, 3534256.23634039, 2557190.34893927,
       4274283.25149158, 3296726.30711182, 5252555.80377927,
       6187671.28282129, 3866238.88245706, 2422814.31859692,
       6559891.18076535, 7281687.15160325, 4137236.87274976,
       3063000.27982236, 6023040.85783756, 4951291.83657145,
       5751464.68442446, 4730874.81175744, 7362275.40691788,
       3020060.98495656, 5619319.94910901, 4438919.41612506,
       6900150.92023503, 4149655.89299154, 5845707.0256349 ,
       8280483.12119978, 2258352.29452085, 5094992.22228071,
       4480593.51060711, 2085381.23088805, 3650990.89876339,
       2972632.3910343 , 4559424.21992167, 2979174.1947371 ,
       2591706.97220967, 6775418.5437847 , 6786389.77927169,
       3386984.74764929, 5062216.39909735, 3519964.29012303,
       5440765.42478479, 4164864.38670547, 2941615.79229636,
       5768432.01249888, 2162517.99650306, 4728369.37665148,
       3983342.98968199, 5400939.53706332, 7005538.07166081,
       7316898.07277869])

In [37]:
print('Accuracy of the model is :',r2_score(y_test,predicted_prices)*100,'%')

Accuracy of the model is : 67.29755025566455 %

In [50]:
user_input = {}
cols = x.columns
for col in cols:
    user_input[col] = float(input(f"Enter the value for {col}: "))
user_df = pd.DataFrame([user_input])
price = model.predict(user_df)
print('Predicted Price is :',price[0])

Enter the value for area: 7420
Enter the value for bedrooms: 4
Enter the value for bathrooms: 2
Enter the value for stories: 3
Enter the value for mainroad: 1
Enter the value for guestroom: 0
Enter the value for basement: 0
Enter the value for hotwaterheating: 0
Enter the value for airconditioning: 1
Enter the value for parking: 2
Enter the value for prefarea: 1
Enter the value for furnishingstatus: 0
Predicted Price is : 8125893.140825596